.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-Cards-container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
  justify-content: center;
}

.App-Cards-container img {
  width: 90%;
 
}

.App-Cards-container img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.App-name{
  width: calc(30% - 20px); /* Distribuye los divs en grupos de 5 (20% width cada uno) con 20px de espacio entre ellos */
  margin: 10px; /* Espacio entre los divs */
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
 
  cursor: pointer;
}

.App-card-Image-container{
  text-align: center;
}

.App-return{
  margin-bottom: 50px;
  cursor: pointer;
}

.App-search{
  margin: 50px;
  width: 50%;
  height: 50px;
}

.App-Pokemon-title{
  color: #070000;
  word-wrap: break-word;
}
